#stacked-bar-chart-root {
  border: 1px solid $ms-color-gray50;
  position: relative;
  cursor: grabbing;
  path,
  line {
    stroke: $ms-color-gray160;
    stroke-width: 1;
  }
  text {
    color: $ms-color-gray160;
  }
}

#grid .tick {
  stroke-width: 1;
  line {
    stroke: $ms-color-gray60;
  }
}

#data-container {
  rect {
    opacity: 0.75;
    &:hover {
      opacity: 0.85;
    }
  }
}

#tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 120px;
  min-height: 40px;
  padding: 8px;
  background: lightsteelblue;
  background-color: $ms-color-gray10;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  pointer-events: none;
  box-shadow: $ms-depth-shadow-16;

  .tooltip {
    &__heading {
      font-weight: 600;
    }
    &__row {
      display: flex;
      flex-flow: row nowrap;
      span:nth-child(1) {
        flex-grow: 1;
      }
    }
    &__beak {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 16px solid $ms-color-gray10;
    }
  }
}
