@import 'theme/template/settings';

.reveal {
    :not(code table) {
        font-size: 1.8rem;

        td {
            vertical-align: top;
        }

        &.separated-first-column {
            th:first-of-type, td:first-of-type {
                border-right: 1px solid $mainColor;
            }
        }
    }

    blockquote {
        padding-top: 16px;
        padding-bottom: 16px;

        &::before {
            content: '\201C';
        }
        &::after {
            content: '\201D';
        }
    }

    svg {
        background-color: $backgroundColor;
        stroke: $mainColor;
        fill: $mainColor;
        text-anchor: middle;
    }

    ul, ol {
        ul, ol {
            font-size: 0.75em;
        }
    }

    .footnotes {
        margin: 1rem 0;
        font-size: 1rem;
        text-align: left;
        opacity: 60%;

        ul {
            list-style-type: none;
        }
    }

    .recipe-step {
        text-align: left;

        * {
            margin-left: 0;
        }
    }

    .split {
        display: flex;
        flex-direction: row;
        > * {
            flex: 1;
        }
    }

    .table-illustration {
        tbody > tr > td:nth-of-type(2) {
            text-align: right;
        }
    }

    .html-viz-demo {
        width: 600px;
        height: 360px;
        margin: 2rem auto;
        background-color: #2b2b2b;

        & > div {
            position: relative;
            width: 340px;
            height: 260px;
            margin: 0 auto;
            transform: translateY(20px);

            & > .axis {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 3px;
                height: 3px;
                background-color: white;
                transform: translate(-1.5px, 1.5px);
            }

            & > .axis-tick {
                position: absolute;
                bottom: 0;
                width: 20px;
                display: flex;
                flex-direction: column;
                text-align: center;
                transform: translate(-10px, 54px);

                &::before {
                    content: '|';
                }
            }

            & > .circle {
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: white;
                border-radius: 10px;
                transform: translate(-5px, 5px);
            }
        }
    }
}